/_build
/cover
/deps
app/*/deps/
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
.tool-versions
apps/*/config/dev.exs
apps/*/assets/node_modules/
apps/*/priv/static/
apps/*/cover/
.deliver/releases/
.vscode
config/dev.exs
